* {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size:  100%;
    color: #000000;
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#navlinks {
    list-style-type: none;
    padding-left: 0px;
    margin: 20px;
}
#logo {
    height: 40px;
}
header {
    border-bottom: 1px solid black;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-content: center;  
    padding-left:  5%; 
    padding-right:  5%;
}
#navigation {
    display: none;    
}
#navigation.show {
    
}
#button {
    background-color: white;
    border: none;
}

/* Media query für grössere Bildchirme */
@media (min-width: 960px){
    #navigation {display: block;
    }
    #button {display: none;
    }
    /*stellt die li nebeneinander auf des grossen Gërat*/
    #navlinks {
        display: flex;
    }
    li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

